html{
	text-decoration: none;
	color
	line-height: 1.4;

}
body{
	font: 15px Arial;
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 14px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400;
}
header{
	color: white;
	background-color: #476072;
	padding-top: 30px;
	min-height: 70px;
}
header img {
    vertical-align: middle;
    display: inline-block;
}
.contenido{
	width: 80%;
	margin: auto;
	overflow: hidden;
	text-decoration: none;
}
.wrapper{
	width: 80%;
	display: grid;
 	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  	border: 0px solid red;
}	

#dummies{
	border: 0px solid red;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #C8C6C6;
}

#logo{
	float: left;
}
ul{
	margin: 0;
	padding: 0;
	color: white
	text-decoration: none;
}
li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
	color: white;
	text-decoration: none;

}
header nav{
	float: right;
	margin-top: 10px;
	color: white;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 7px 16px;

}
#phone{
	float: left;
}
header p, h1{
	color: white;
}
#logos{
	margin-top: 20px;
	color: #000000;
}
#logos .logos{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}
#logos .logos img{
	width: 90px;
}
.nav {
    float: right;
}


.nav li {
    display: inline-block;
}

.nav li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    padding: 7px 16px;

}
h1 {
    font-size: 2.8em;
    display: inline-block;
    margin: 10px 0px 0px 0px;
    color: white;
    position: relative;
  	bottom: -40px;
}
.shadow{
   background: url(../img/icons/shadow.png) no-repeat;
    height: 20px;
    z-index: -1;
    position: relative;
    left: -14px;
}
.btn {
    background: blue;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary {
    border-radius: 30px;
    padding: 15px 40px;
    border-top: 1px solid rgb(160, 207, 234);
    border-bottom: 1px solid rgb(82, 154, 212);
    background: rgba(66,156,212,1);
	background: -moz-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,156,212,1)), color-stop(100%, rgba(37,129,199,1)));
	background: -webkit-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: -o-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: -ms-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: linear-gradient(to bottom, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429cd4', endColorstr='#2581c7', GradientType=0 );
	 position: relative;
  	bottom: -40px;
}
p{
	line-height: 22px;
    color: #a4a4a4;

}
.pf{
	font-size: 14px;
  color:white;
  font-weight: bold;
   position: relative;
  	bottom: -40px;

}

.about-btn{
   border-radius: 30px;
    padding: 15px 40px;
    border-top: 1px solid rgb(160, 207, 234);
    border-bottom: 1px solid rgb(82, 154, 212);
    background: rgba(66,156,212,1);
	background: -moz-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,156,212,1)), color-stop(100%, rgba(37,129,199,1)));
	background: -webkit-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: -o-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: -ms-linear-gradient(top, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	background: linear-gradient(to bottom, rgba(66,156,212,1) 0%, rgba(37,129,199,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429cd4', endColorstr='#2581c7', GradientType=0 );
	color: white;
}
.recent-work{
	 position: relative;
  	bottom: -40px;

}



}
h2{
	color: gray;
	position: relative;
  	bottom: -40px;
  	font-family: sans-serif;
  	font-size: 23px;
  	padding: 20px;
}
h2 img{
	padding-left: auto;
}
footer{
	padding: 20px;
	margin-top: 20px;
	color: #ffffff;
	text-align: left;
}
h3{

}
.one{
	border: 5px solid #ffff;
	height: 200px;	
	width: 200px;
	overflow: hidden;
	box-shadow:  0px 0px 10px 0px gray;
}
.one > .one_image{
	object-fit: cover;
	height: 100%;
	width: 100%;
}
.images-uwu{
	border: 1px solid none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
footer{
    margin-top: -100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

hr{
    background-color: rgb(151, 149, 149);
    height: 1px;
    width: 85%;
}

.caja_footer{
    border: 0px solid red;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.copy{
    color: rgb(151, 149, 149);
    font-size: 16px;
    font-family: verdana;
}

#contenido_img_footer{
    border: 0px solid red;
    display: flex;
    justify-content: flex-end;
}

.contenido_img_footer{
    border: 0px solid red;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    width: 30%;
}

.img_footer{
    height: 30px;
    width: auto;
}
article{
    border: 0px solid red;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.contenido_articulo{
    border: 0px solid red;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido_articulos2{
    border: 0px solid red;
    margin-top: 90px;
}



.caja_titulo{
    border: 0px solid red;
    display: flex;
    justify-content: space-around;
    width: 210px;
}

.text4{
    font-size: 17px;
    font-family: verdana;
    color: rgb(63, 63, 63);
}

.img5{
    height: 30px;
    position: relative;
    top: 10px;
}

.contenido_imagen3{
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
}

.caja_imagen{
    margin-top: 20px;
    height: 210px;
    width: 240px;
    overflow: hidden;
    margin-bottom: 10px;
    border: 8px solid rgb(236, 236, 236);
    box-shadow: 0px 0px 10px 0px rgb(68, 68, 68);
}

.caja_imagen > .img4{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.titulos{
    border: 0px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title_logo, .title_logo2{
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    width: 19%;
}

.title_logo2{
    width: 22%;
}

.shape03{
    height: 30px;
    width: auto;
}

.text4{
    position: relative;
    top: -10px;
}

.caja_grid{
    border: 0px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 40px;
}

.caja1{
    border: 0px solid blue;
    display: flex;
    justify-content: space-between;
}

.imagen1{
    border: 1px solid rgb(19, 255, 243);
    height: 210px;
    width: 240px;
    overflow: hidden;
    border: 8px solid rgb(236, 236, 236);
}


.imagen1 > .img6{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.notificacion{
    border: 0px solid rgb(75, 48, 48);
    width: 68%;
}

.titulo_pequeño{
    color: rgb(88, 87, 87);
    font-size: 17px;
    font-family: verdana;
}

span{
    color: rgb(0, 155, 202);
    font-size: 16px;
    font-family: verdana;
}

.fecha{
    color: rgb(151, 149, 149);
    font-size: 15px;
    font-family: verdana;
}
.texto11{
    color: rgb(151, 149, 149);
    font-size: 15px;
    font-family: verdana;
    line-height: 25px;
}

.older{
    font-size: 16px;
    font-family: verdana;
    color: rgb(0, 155, 202);
}

.span{
    color: #000;
    line-height: 40px;
}

.span2{
    color: rgb(151, 149, 149);
}

.caja2{
    height: 110px;
    position: relative;
    top: -100px;
}

.caja3{
    height: 110px;
    position: relative;
    top: -200px;
}